.columns
  .column.width_12.leftmost
    .form_field
      .label_name= "Configuration Name<font color='red'>*</font>"
      .tag= f.text_field :name
    .form_field
      .label_name= "Code<font color='red'>*</font>"
      .tag= f.text_field :code
    .form_field
      .label_name= "Value"
      .tag= f.text_field :value
    = hidden_field_tag :page, @page
    = hidden_field_tag :per_page, @per_page

.columns
  .column.width_10.leftmost
    .align_right= submit_tag "Save", :class => "button"

.columns
  .column.width_12.leftmost
    = "Note: Fields marked as <font color='red'>*</font> are mandatory."
