.profile_follower_list
  .follower_request

    - unless @followings.blank?
      - @followings.each do |following|
        .follwer_request_div{:class => cycle('odd','even')}
          .thumbline_pic
            - unless following.avatar.blank?
              = image_tag following.avatar.url.gsub("/s3.","/s3-eu-west-1.")
            - else
              = image_tag :src => "images_1/thumbline_pic.png"
          .user_name
            = following.display_full_name(current_user)
          - unless current_user.id == following.id
            .button_div.followers{:style => "width:310px;"}
              .button{:id => "action_1_#{following.id}"}
                - if current_user.already_following_user(following.id) || current_user.id == following.id
                  = link_to_remote "#{t :unfollow}", :url => unfollow_followings_path(:following => following.id), :method => :get, :html => {:class => "button"}
                - else
                  = link_to_remote "#{t :follow}", :url => follow_followings_path(:following => following.id), :method => :get, :html => {:class => "button"}
              .clear
        .clear
    - else
      %div.no_users_profile
        %div
          =t :no_followings_profile