%div{:id => "facebook_comments_#{stream.id}"}
  - if comments.length > 0
    %span.commentArrowTop
    %ul
      - fb_comment_ids = Comment.fb_comment_ids(stream.id)
      - comments.reverse.each do |comment|
        - unless fb_comment_ids.include?(comment["id"])
          %li
            %span.userSmlPic
              = image_tag("userPicSmall.jpg", :alt => "#{comment['from']['name']}")
            .commented
              .userDesc
                %a{:href => "javascript:void(0);"}
                  = comment['from']['name']
              .userCommentedInfo
                %ul
                  %li.userDesc
                    %h6
                      %a{:href => "javascript:void(0);"}
                  %li.timing
                    %a{:href => "javascript:void(0);"}
                      = to_local(DateTime.parse(comment['created_time'])).strftime("%H:%M %p")
                  %li.date
                    %a{:href => "javascript:void(0);"}
                      - if session[:locale] == "arabic"
                        %span{:style => "direction:ltr;"}= to_local(DateTime.parse(comment['created_time'])).strftime("%Y %b %d")
                      - else
                        = to_local(DateTime.parse(comment['created_time'])).strftime("%d %b %Y") unless  comment['created_time'].blank?
                  - if stream.user_service
                    %li
                      %span.networkIco{:id => "#{stream.user_service.service.name.downcase.gsub(' ','')}Service"}
              %div{:style => "clear:both"}
              .msgBody
                = comment['message']