:javascript
  $j(document).ready(function(){
     $j('.box').corner();
  });

  function validate() {
    if(jQuery.trim($j('#pg_name input').val()).length == 0)
    {
      notice('Post service group name can not be blank');
      return false;
    }
    else
    {
      if($('type').selectedIndex >= 0)
      {
        notice('Please select a post type from the list');
        return false;
      }
      else
      {
        $j('#spinner_tag').show();
        return  true;
      }
    }
  }
.edit_service_group_div
  .esg_heading
    %h4.normal_font
      == Edit service group
  .box{:style => "background-color: #CCCCCC; padding:20px;"}
    .box_mid1
      - form_remote_tag( :url => {:action => :update_form, :id => @post_service_group.id }) do
        .pg_div
          .group_name_div
            .group_name
              %h5.normal_font
                == Post group name
            .group_name_field#pg_name
              = text_field_tag "pg_name", @post_service_group.name
          .your_privacy_groups_div.members
            .your_privacy_groups
              %h5.normal_font
                == Your Post Type
            .psg
              = select_tag "type", options_from_collection_for_select(@pick_types,:id,:name, @post_service_group.post_type_id), {:onchange => remote_function(:url => {:action => :load_service_list, :id => @post_service_group.id}, :with => "'type=' + $('type').value")} unless @post_service_group.blank?
              = hidden_field_tag 'chk', @post_service_group.id  unless @post_service_group.blank?
          .services#service_list
            = render :partial => "post_service_groups/services_list"
          .psg_buttons
            .button.button_anchor{:style=> "margin-top: 3px;"}
              = link_to "Cancel", '/post_service_groups/new'
            .button_1
              = submit_tag ("Update"), :class => "button",  :onclick => "return validate();"
            %div.display_none.left{:id => "spinner_tag"}
              = image_tag("spinner.gif")
            .clear
:javascript
  $j(document).ready(function(){
     $j('#type').val("#{@post_service_group.post_type_id}");
     $j('#type').change();
  });