.posted_date{:style=>"padding-bottom:10px;"}
  %strong=t :start_date
  = text_field_tag :start_date, @start_date.blank? ? (Time.now - 2592000).strftime("%d/%m/%Y") : @start_date, {:readonly => true}
  %strong=t :end_date
  = text_field_tag :end_date, @end_date.blank? ? (Time.now).strftime("%d/%m/%Y") : @end_date, {:readonly => true}
  .clear
  .float_left
    .button
      #block_unblock_btn
        = link_to_remote_with_loader "Get Report", :class => "button", :style => "margin-top:5px;", :action => :load_data, :type => 'service_usage', :with => "'type=service_usage&start_date=' + $('start_date').value + '&end_date=' + $('end_date').value"
  .float_right
    .button
      #block_unblock_btn
        = link_to "Export As CSV", export_csv_admin_dashboard_path(current_user, :start_date => @start_date, :end_date => @end_date, :type => 'service_usage', :name => "service_usage_stats_#{Time.now.to_i}")
.clear
#graph_container{:style=>"width: 850px; height: 400px"}
:javascript
  var chart;
  $j("#start_date,#end_date").datepicker({
      showOn: "button",
      buttonImage: "/images_old/calendar.gif",
      buttonImageOnly: true
    });
  $j(document).ready(function() {

      // define the options
      var options = {

          chart: {
              renderTo: 'graph_container'
          },

          credits: {
              text: 'edintity.com',
              href: 'http://www.edintity.com'
          },

          title: {
              text: 'Service Usage Data'
          },

          subtitle: {
              text: ' '
          },

          xAxis: {
              type: 'datetime',
              tickInterval: 30 * 24 * 3600 * 1000, // one week
              tickWidth: 0,
              gridLineWidth: 1,
              labels: {
                  align: 'left',
                  x: 3,
                  y: -3
              }
          },

          yAxis: [{ // left y axis
                  title: {
                      text:'usage in MB'
                  },
                  labels: {
                      align: 'left',
                      x: 3,
                      y: 16,
                      formatter: function() {
                          return Highcharts.numberFormat(this.value, 0);
                      }
                  },
                  showFirstLabel: false
              }, { // right y axis
                  linkedTo: 0,
                  gridLineWidth: 0,
                  opposite: true,
                  title: {
                      text: null
                  },
                  labels: {
                      align: 'right',
                      x: -3,
                      y: 16,
                      formatter: function() {
                          return Highcharts.numberFormat(this.value, 0);
                      }
                  },
                  showFirstLabel: false
              }],

          legend: {
              align: 'left',
              verticalAlign: 'top',
              y: 20,
              floating: true,
              borderWidth: 0
          },

          tooltip: {
              shared: true,
              crosshairs: true
          },

          plotOptions: {
              series: {
                  cursor: 'pointer',
                  point: {
                      events: {
                          click: function() {
                              hs.htmlExpand(null, {
                                  pageOrigin: {
                                      x: this.pageX,
                                      y: this.pageY
                                  },
                                  headingText: this.series.name,
                                  maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) +':<br/> '+
                                      this.y +' MB',
                                  width: 200
                              });
                          }
                      }
                  },
                  marker: {
                      lineWidth: 1
                  }
              }
          },

          series: [{
                  name: 'Facebook',
                  lineWidth: 4,
                  marker: {
                      radius: 4
                  }
              },
              {
                  name: 'Flickr',
                  lineWidth: 4,
                  marker: {
                      radius: 4
                  }
              },
              {
                  name: 'Tumblr',
                  lineWidth: 4,
                  marker: {
                      radius: 4
                  }
              },
              {
                  name: 'Youtube',
                  lineWidth: 4,
                  marker: {
                      radius: 4
                  }
              },
              {
                  name: 'Vimeo',
                  lineWidth: 4,
                  marker: {
                      radius: 4
                  }
              }
              ]
      };
      var tumblr_array = #{@tumblr_data.to_json};
      var facebook_array = #{@facebook_data.to_json};
      var flickr_array = #{@flickr_data.to_json};
      var youtube_array = #{@youtube_data.to_json};
      var vimeo_array = #{@vimeo_data.to_json};
      options.series[0].data = facebook_array;
      options.series[1].data = flickr_array;
      options.series[2].data = tumblr_array;
      options.series[3].data = youtube_array;
      options.series[4].data = vimeo_array;
      chart = new Highcharts.Chart(options);

  });