:javascript
  $j(document).ready(function(){
     $j('#share_photo_to_services_extras').corner();
  });
.clear
#share_to_services
  -@brand= Brand.find_by_id(params[:brand]) if params[:brand]
  
  - if !@brand.post_groups("blog").blank?
    - @brand.post_groups("photo").each do |post_group|
      = check_box_tag "post_group_user_service_id[]", "#{post_group.user_service_ids}"
      = image_tag("edintity-icon.gif", :title => "#{post_group.name}", :width => "20px")
      .share_services
  - if @brand.active_services.photo_sharing_services.length > 0
    - @brand.active_services.photo_sharing_services.each do |user_service|
      = check_box_tag "serviceid[]", "#{user_service.id}",false, :onmouseover => "if(this.checked){$j('.photo_credentials').hide();$j('#photo_cred_div_#{user_service.id}').show();}", :onclick => "if(this.checked){$j('.photo_credentials').hide();$j('#photo_cred_div_#{user_service.id}').show();}else{$j('.photo_credentials').hide();}"
      = image_tag("services/#{user_service.service.name.downcase}.png", :title => "#{user_service.display_name}", :width => "20px")
      .share_services
    .credentials_div
      - @brand.active_services.photo_sharing_services.each do |user_service|
        - if user_service.service_id == 9
          %div{:id => "photo_cred_div_#{user_service.id}",:class => "photo_credentials", :style => "border:1px solid grey;color:grey;padding:10px;width:400px;display:none"}
            %b Enter credentials for #{user_service.token}.tumblr.com
            .email
              Email
              .tumblr_email
                = text_field_tag "photo_tumblr_email_#{user_service.id}", ""
            .pwd
              Password
              .tumblr_password
                = password_field_tag "photo_tumblr_password_#{user_service.id}", ""
            .disclaimer
              %i * We will not save your credentials in our site. This is only for authentication purpose.
  - if (@brand.post_groups("photo").blank?) and (@brand.active_services.photo_sharing_services.length < 0)
    You don’t have any services to share with. If you want to configure services
    /= link_to "click here", user_services_path(@brand)
  .clear