%ul
  %li{:class => "#{cycle('affiliatesEven', 'affiliatesOdd')}"}
    - if !@brand_user_groups.blank?
      - @brand_user_groups.each do |brand|
        - unless brand.company.user.id  == brand.user_id
          %span.fourthCol.flRight
            %span.redBtn
              - if @downgrade.blank?
                %a.smlrBtn{:href => "javascript:void(0);", :onclick => "#{remote_function(:url => company_brand_user_group_path(@company,:id => brand.id), :method => :delete, :confirm => "Are you sure to delete this user role  permanently?")}"}= t :delete_role
              - else
                = link_to_remote_with_loader "#{t :delete_role}", {:url => company_brand_user_group_path(@company,:id => brand.id, :membership_id => @membership.id)}, :method => :delete, :confirm => "Are you sure to delete this user role  permanently?",:class => "smlrBtn"
          %span.firstCol
            %b= brand.user.user_name
          %span.secondCol
            - unless brand.brand_id.nil?
              = brand.brand.name
            - else
              = brand.company.name
          %span.thirdCol
            = brand.show_access_type