- form_remote_tag :url => update_password_users_path(:id => @user.id), :method => :put, :html => { :multipart => true, :id => "change_password_form" } do |f|
  %ul
    %li
      .titles
        %h5= t :change_password
      #customizePersonalPswrd.servicesBoxInner.narrow.cornerAll
        %ul
          %li.changePassword
            %label.flLeft
              = t :current_password
              %strong *
            = password_field_tag :old_password, "",{ :id => "old_password", :autocomplete => false,:tabindex => "5", :class => "textInput"}
          %li.changePassword
            %label#newPswrd.flLeft
              =t :new_password
              %strong *
              %span= ("#{t :atleast_seven_chars}")
            = password_field_tag :password,"", {:id => "password", :tabindex => "6", :class => "textInput", :value => ""}
          %li.changePassword
            %label.flLeft
              =t :verify_password
              %strong *
            = password_field_tag :password_confirmation, "", {:id => "password_confirm", :tabindex => "7", :class => "textInput", :value => ""}
          .savePersonalChanges
            .blueBtn
              = submit_tag "#{t :change_password}", :id => "submit", :class => "smlrBtn", :onclick => "$j('#create_account_btn').hide();$j('#account_spinner').show();"

