.columns
  .column.width_12.leftmost
    .form_field
      .label_name= "Title<font color='red'>*</font>"
      .type= f.text_field :activity_types
      .label_name= "Points<font color='red'>*</font>"
      .point= f.text_field :activity_points
    
    = hidden_field_tag :page, @page
    = hidden_field_tag :per_page, @per_page

.columns
  .column.width_10.leftmost
    .align_right= submit_tag "Save", :class => "button"

.columns
  .column.width_12.leftmost
    = "Note: Fields marked as <font color='red'>*</font> are mandatory."
