- upload_setting = UploadSetting.first
:javascript
  function showUploadButton(){
    $j("#s_link_attach").makeAsyncUploader({
      upload_url: "/posts/upload?_SNFA_session=#{session.session_id}&authenticity_token=#{form_authenticity_token}&user_id=#{current_user.id}&company_id=#{id}",
      flash_url: '/images/swfupload.swf',
      file_size_limit : "#{upload_setting.photo_size} MB",
      file_types_description : "Image Files",
      file_upload_limit : "1",
      file_queue_limit : "0",
      button_image_url: "/images/upload_bg_new.png",
      button_width: 70,
      button_height: 18,
      button_text: "<font color='#ffffff' face='Arial,sans-serif' size='11pt' background='#17404e' ><b>Select a file to upload</b></font>",
      button_text_left_padding: 2,
      button_text_top_padding: 1
    });
    $j(".upload_cancel_btn").corner();
    $j("#uploader_div").hide();
  }

  function start_upload(){
    //$('add_to_stream_btn').style.display='none';
  }

  function set_values(){
    $('add_to_stream_btn').style.display='';
  }
#upload_photo_text
  Select a file to upload
#upload_photo_link
.clear

%iframe#upload_frame{:name => "upload_frame"}
