:javascript
  $j('.button').corner("4px");
%h4{:style =>"font-size:13px;"}
  = links.length
  = t :subscriptions
  .delete_rss{:style => "float:right"}
    = link_to_remote_redbox image_tag("/images/icon-delete.png", :size => "20x20", :title => "#{t :delete}", :alt => "#{t :delete}"), :url => {:controller => :rss, :action => :manage_rss}, :with => "'confirm_delete=true&id='+val", :before => "var val = '';var t=$j('input[name=rss_link_ids[]]');jQuery.each(t, function(k, v){if(v.checked){val = val + v.value + ','}});if(val == ''){notice('Please select at least one link to delete');return false;}"
  .rss_links{:style => "overflow:auto;height:210px;margin-bottom:10px;"}
    %ul
    - unless links.blank?
      - links.each do |link|
        %li
          %div{:onmouseover => "$('rss_actions_#{link.id}').show();",:onmouseout => "$('rss_actions_#{link.id}').hide();"}
            = check_box_tag "rss_link_ids[]", "#{link.id}"
            %strong= link.title
            %span{:id => "rss_actions_#{link.id}",:style => "display:none"}
              = link_to image_tag("/images/icon-edit.png", :size => "20x20"), "javascript:void(0)", :onclick => "$('rename_link_#{link.id}').style.display='';",:class => "add_btn", :title => "#{t :rename}", :alt => "#{t :rename}"
              
          %a{:href => "#{link.url}", :target => "_blank", :style => "text-decoration:none"}
            .quiet= link.url          
          %div{:id => "rename_link_#{link.id}", :style => "display:none", :class => "rename_link"}
            = text_field_tag "rss_link_title_#{link.id}", link.title
            %span.button{ :style => "margin-left: 5px;"}
              = link_to_remote "#{t :save}", :url => rename_link_rss_path(:id => link.id), :with => "'title='+$('rss_link_title_#{link.id}').value", :method => :get, :html => {:class => "add_btn"}
            %span.button
              = link_to "#{t :cancel}", "javascript:void(0)", :onclick => "$('rename_link_#{link.id}').style.display='none';",:class => "add_btn"
          .clear
  .align_right.close_manage_rss
    .button_1
      = button_to_close_redbox("#{t :close}", :class => "button", :id => "btn_to_close")
      .clear
       

    
