= javascript_include_tag 'triggeronview.js'
:javascript

  jQuery(document).ready(function(){
    jQuery('.more_links_class').triggerOnView();
  });

- if @user_unused_tabs
  - unused_tabs = []
  - @user_unused_tabs.each do |tab|
    - if tab.name == "Custom"
      - unused_tabs <<  link_to_remote_redbox("#{t :custom}", :url => new_custom_tab_path, :method => :get)
    - else
      - unused_tabs <<  link_to_remote(tab.name,:url => user_tabs_path(:tab => tab), :method => :post)

:javascript
  $j(document).ready(function(){
     $j('.rounded').corner();
     $j('.button').corner("4px");
     $j('li.selected a').corner("3px");
     $j('.add_to_stream').corner("3px");
     $j('.video_play').corner("top");
     $j('.video_footer').corner("bottom 5px");
     $j("#tabs_user").jSlide({elemByPages:1,pagination:false});
  });
%script{:src => "http://www.google.com/jsapi?key=ABQIAAAAoUzFdlbp-hDhtiDmjOawSBTJQa0g3IQ9GZqIMmInSLzwtGDKaBRzjR_y32ORpDqf40yuHl4bevlS7g", :type => "text/javascript"}
:javascript
  var rss_url = ""
  var defaultQuery = '';
  google.load("feeds", "1");

  function findFeeds(query) {
    google.feeds.findFeeds(query, feedSearchDone);
  }

  function getLongURL(name) {
    var url = name;
    url = url.replace(/\=/g,"^equal_to^");
    url = url.replace(/\?/g,"^question_mark^");
    url = url.replace(/\&/g,"^and^");
    return url;
  }

  function feedSearchDone(result) {
    var el = document.getElementById("feedControl");
    el.innerHTML = '';
    el.style.height = "210px";
    el.style.overflow = "auto";
    el.style.marginBottom = "10px";
    if (result.error || result.entries.length <= 0) {
      el.innerHTML = '<center>No Results Found</center>';
      return;
    }
    for (var i = 0; i < result.entries.length; i++) {
      rss_url = result.entries[i].url
      rss_title = result.entries[i].title
      var link_div = document.createElement("DIV");
      link_div.id = rss_url;
      el.appendChild(link_div);
      var link = document.createElement("A");
      link.id = 'add_rss_link_' + i;
      link.href = "#";
      link.name = rss_url;
      link.title = rss_title;
      link.onclick = "function(){#{remote_function(:url => save_link_rss_path, :method => :get, :with => "'rss_title='+this.title+'&results=true&rss_link='+getLongURL(this.name)")}};return false;";
      link.innerHTML = "<img title='Add' src='/images/netvibes.png' alt='Add'>";
      link_div.appendChild(link);
      link_div.innerHTML += rss_title
      link_div.innerHTML +=  '<br/>' + '<div class="quiet">' + result.entries[i].url +'</div>'
      $('add_rss_link_' + i).setAttribute("onclick", "#{remote_function(:url => save_link_rss_path, :method => :get, :with => "'rss_title='+this.title+'&results=true&rss_link='+getLongURL(this.name)")};return false;");

    }
  }

  function onSubmit() {
    inputChange(document.getElementById("input"));
    return false;
  }

  function inputChange(input) {
    var query = input.value.toLowerCase();
    var el = document.getElementById('feedControl');
    el.innerHTML = 'Loading...';
    if (!query) {
      query = defaultQuery;
      input.value = query;
    }
    findFeeds(query);
  }
  
.leftcontent_mid{:style => "padding-bottom: 0px;"}

  - if session[:locale] == "arabic"
    %div{:style => "direction:ltr !important; margin-left:-4px;"}
      #tabs_user.boxSlide.boxSlideHorizontal
        .float_right= dropdownmenu_for((".."), unused_tabs, {:tooltip_text => "#{t :add_tab}"})
        = link_to image_tag("arrow_left.png"), "javascript:;", :class => "btnNext", :style => "margin-left:1px;"
        .slide
          %ul.horizontal{:id => "user_tabs_new"}
            = render :partial => "shared/user_tabs", :locals => {:unused_tabs => unused_tabs ? unused_tabs : []}
        = link_to image_tag("arrow_right.png"), "javascript:;", :class => "btnPrev"

  - else
    %div
      #tabs_user.boxSlide.boxSlideHorizontal
        = link_to image_tag("arrow_left.png"), "javascript:;", :class => "btnPrev", :style => "margin-left:5px;"
        .slide
          %ul.horizontal{:id => "user_tabs_new"}
            = render :partial => "shared/user_tabs", :locals => {:unused_tabs => unused_tabs ? unused_tabs : []}
        = link_to image_tag("arrow_right.png"), "javascript:;", :class => "btnNext"
        = dropdownmenu_for(("."), unused_tabs, {:tooltip_text => "#{t :add_tab}"})
  .rss_btns_in_rss
    .clear
    .float_left.rss_buttons
      .button.add_link_btn
        = link_to_remote_redbox "#{t :add_rss}", :url => {:controller => :rss, :action => :add_link}, :html => {:class => "add_btn"}
      .button.manage_rss_btn
        = link_to_remote_redbox "#{t :manage_rss}", :url => {:controller => :rss, :action => :manage_rss}, :html => {:class => "add_btn"}
      .button.update_feeds_btn
        = link_to "#{t :update_feeds}", "javascript:void(0)", :onclick => "window.location.reload()", :html => {:class => "add_btn"}
    .float_right
      .read_unread
        %span.bold.text.text_header== Mark As:
        %span.text{:style => "margin-right:5px;"}= link_to_remote_with_loader " Unread ",:url => {:action => :mark_all_unread, :controller => "streams", :controller_name => @controller_name || controller.controller_name}, :method => :get
        %span.text= link_to_remote_with_loader " Read",:url => {:action => :mark_all_read, :controller => "streams", :controller_name => @controller_name || controller.controller_name}, :method => :get
    
  .clear
  %div{:id => "unread_items"}
    = render :partial => "rss/user_tab_filters"
  #stream_notify{:style => "display:none;margin-top: 10px; text-align: center; margin-right:0px;float:none;"}
    = image_tag("spinner.gif")
  .clear
  #stream_content= render :partial => "streams/index"
