- engagements ||= @engagements
- @engagements_table.render engagements do |table|
  - engagements.each do |engagement|
    - table.tr :id => "engagement_#{engagement.id}" do
      -table.td {engagement.name}
      -table.td {engagement.code}
      -table.td {engagement.subject}
      -table.td {engagement.cc}
      -table.td {engagement.bcc}
      -table.td {engagement.delivery_day}
      -table.td {engagement.active? ? "Yes" : "No"}
      -table.td(:action, :id => "action_#{engagement.id}") do
        = link_to("Preview", admin_user_engagement_path(current_user, :id => engagement.id), {:class => "icon", :title => "Preview Notification"} )
        = link_to("Edit", edit_admin_user_engagement_path(current_user, engagement), {:class => "icon", :title => "Edit engagement"} )
        = link_to_remote("Delete", :url => admin_user_engagement_path(current_user, :id => engagement.id), :method => :delete, :confirm => "Are you sure want to delete this engagement?", :html => {:class => "icon", :title => "Delete Notification"} )