.DB-DateOption.date_range
  .startDate
    %p=t :start_date
    = text_field_tag :start_date, @start_date.blank? ? (Time.now - 2592000).strftime("%d/%m/%Y") : @start_date, {:readonly => true,:class => "textInput"}
  &nbsp;&nbsp;
  .endDate
    %p=t :end_date
    = text_field_tag :end_date, @end_date.blank? ? (Time.now).strftime("%d/%m/%Y") : @end_date, {:readonly => true, :class => "textInput"}
.clear
.DB-graphMain#graph_container{:style=>"width: 590px; height: 370px"}
.clear
.graphExport
  .blueBtn.flRight
    = link_to "Export As CSV", {:controller => "companies/dashboard", :action => :export_csv, :start_date => @start_date, :end_date => @end_date, :type => 'company_brands', :name => "followers_by_brands_#{Time.now.to_i}"}, :class => "smlrBtn"
  .blueBtn.flRight
    = link_to_remote "Get Report", :html => {:class => "smlrBtn"}, :url => {:controller => "companies/dashboard", :action => :load_data}, :with => "'type=company&category=brands&start_date=' + $('start_date').value + '&end_date=' + $('end_date').value"
      
:javascript
  var chart;
  $j("#start_date,#end_date").datepicker({
      showOn: "button",
      buttonImage: "/images_old/calendar.png",
      buttonImageOnly: true
    });
  $j(document).ready(function() {

    Highcharts.theme = {
         colors: ["#DDDF0D", "#7798BF", "#55BF3B", "#DF5353", "#aaeeee", "#ff0066", "#eeaaee",
            "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
         chart: {
            backgroundColor: {
               linearGradient: [0, 0, 0, 400],
               stops: [
                  [0, 'rgb(96, 96, 96)'],
                  [1, 'rgb(16, 16, 16)']
               ]
            },
            borderWidth: 0,
            borderRadius: 15,
            plotBackgroundColor: null,
            plotShadow: false,
            plotBorderWidth: 0
         },
         title: {
            style: {
               color: '#FFF',
               font: '16px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif'
            }
         },
         subtitle: {
            style: {
               color: '#DDD',
               font: '12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif'
            }
         },
         xAxis: {
            gridLineWidth: 0,
            lineColor: '#999',
            tickColor: '#999',
            labels: {
               style: {
                  color: '#999',
                  fontWeight: 'bold'
               }
            },
            title: {
               style: {
                  color: '#AAA',
                  font: 'bold 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif'
               }
            }
         },
         yAxis: {
            alternateGridColor: null,
            minorTickInterval: null,
            gridLineColor: 'rgba(255, 255, 255, .1)',
            lineWidth: 0,
            tickWidth: 0,
            labels: {
               style: {
                  color: '#999',
                  fontWeight: 'bold'
               }
            },
            title: {
               style: {
                  color: '#AAA',
                  font: 'bold 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif'
               }
            }
         },
         legend: {
            itemStyle: {
               color: '#CCC'
            },
            itemHoverStyle: {
               color: '#FFF'
            },
            itemHiddenStyle: {
               color: '#333'
            }
         },
         labels: {
            style: {
               color: '#CCC'
            }
         },
         tooltip: {
            backgroundColor: {
               linearGradient: [0, 0, 0, 50],
               stops: [
                  [0, 'rgba(96, 96, 96, .8)'],
                  [1, 'rgba(16, 16, 16, .8)']
               ]
            },
            borderWidth: 0,
            style: {
               color: '#FFF'
            }
         },


         plotOptions: {
            line: {
               dataLabels: {
                  color: '#CCC'
               },
               marker: {
                  lineColor: '#333'
               }
            },
            spline: {
               marker: {
                  lineColor: '#333'
               }
            },
            scatter: {
               marker: {
                  lineColor: '#333'
               }
            },
            candlestick: {
               lineColor: 'white'
            }
         },

         toolbar: {
            itemStyle: {
               color: '#CCC'
            }
         },

         navigation: {
            buttonOptions: {
               backgroundColor: {
                  linearGradient: [0, 0, 0, 20],
                  stops: [
                     [0.4, '#606060'],
                     [0.6, '#333333']
                  ]
               },
               borderColor: '#000000',
               symbolStroke: '#C0C0C0',
               hoverSymbolStroke: '#FFFFFF'
            }
         },

         exporting: {
            buttons: {
               exportButton: {
                  symbolFill: '#55BE3B'
               },
               printButton: {
                  symbolFill: '#7797BE'
               }
            }
         },

         // scroll charts
         rangeSelector: {
            buttonTheme: {
               fill: {
                  linearGradient: [0, 0, 0, 20],
                  stops: [
                     [0.4, '#888'],
                     [0.6, '#555']
                  ]
               },
               stroke: '#000000',
               style: {
                  color: '#CCC',
                  fontWeight: 'bold'
               },
               states: {
                  hover: {
                     fill: {
                        linearGradient: [0, 0, 0, 20],
                        stops: [
                           [0.4, '#BBB'],
                           [0.6, '#888']
                        ]
                     },
                     stroke: '#000000',
                     style: {
                        color: 'white'
                     }
                  },
                  select: {
                     fill: {
                        linearGradient: [0, 0, 0, 20],
                        stops: [
                           [0.1, '#000'],
                           [0.3, '#333']
                        ]
                     },
                     stroke: '#000000',
                     style: {
                        color: 'yellow'
                     }
                  }
               }
            },
            inputStyle: {
               backgroundColor: '#333',
               color: 'silver'
            },
            labelStyle: {
               color: 'silver'
            }
         },

         navigator: {
            handles: {
               backgroundColor: '#666',
               borderColor: '#AAA'
            },
            outlineColor: '#CCC',
            maskFill: 'rgba(16, 16, 16, 0.5)',
            series: {
               color: '#7798BF',
               lineColor: '#A6C7ED'
            }
         },

         scrollbar: {
            barBackgroundColor: {
                  linearGradient: [0, 0, 0, 20],
                  stops: [
                     [0.4, '#888'],
                     [0.6, '#555']
                  ]
               },
            barBorderColor: '#CCC',
            buttonArrowColor: '#CCC',
            buttonBackgroundColor: {
                  linearGradient: [0, 0, 0, 20],
                  stops: [
                     [0.4, '#888'],
                     [0.6, '#555']
                  ]
               },
            buttonBorderColor: '#CCC',
            rifleColor: '#FFF',
            trackBackgroundColor: {
               linearGradient: [0, 0, 0, 10],
               stops: [
                  [0, '#000'],
                  [1, '#333']
               ]
            },
            trackBorderColor: '#666'
         },

         // special colors for some of the demo examples
         legendBackgroundColor: 'rgba(48, 48, 48, 0.8)',
         legendBackgroundColorSolid: 'rgb(70, 70, 70)',
         dataLabelsColor: '#444',
         textColor: '#E0E0E0',
         maskColor: 'rgba(255,255,255,0.3)'
      };

      // Apply the theme
      var highchartsOptions = Highcharts.setOptions(Highcharts.theme);

      // define the options
      var options = {
      
          chart: {
              renderTo: 'graph_container'
          },

          credits: {
              text: 'edintity.com',
              href: 'http://www.edintity.com'
          },

          title: {
              text: 'Company - followers by brand '
          },

          subtitle: {
              text: " "
          },

          xAxis: {
              type: 'datetime',
              tickInterval: 30 * 24 * 3600 * 1000, // one week
              tickWidth: 0,
              gridLineWidth: 1,
              labels: {
                  align: 'left',
                  x: 3,
                  y: -3
              }
          },

          yAxis: [{ // left y axis
                  title: {
                      text: null
                  },
                  labels: {
                      align: 'left',
                      x: 3,
                      y: 16,
                      formatter: function() {
                          return Highcharts.numberFormat(this.value, 0);
                      }
                  },
                  showFirstLabel: false
              }, { // right y axis
                  linkedTo: 0,
                  gridLineWidth: 0,
                  opposite: true,
                  title: {
                      text: null
                  },
                  labels: {
                      align: 'right',
                      x: -3,
                      y: 16,
                      formatter: function() {
                          return Highcharts.numberFormat(this.value, 0);
                      }
                  },
                  showFirstLabel: false
              }],

          legend: {
              align: 'left',
              verticalAlign: 'top',
              y: 20,
              floating: true,
              borderWidth: 0
          },

          tooltip: {
              shared: true,
              crosshairs: true
          },

          plotOptions: {
              series: {
                  cursor: 'pointer',
                  point: {
                      events: {
                          click: function() {
                              hs.htmlExpand(null, {
                                  pageOrigin: {
                                      x: this.pageX,
                                      y: this.pageY
                                  },
                                  headingText: this.series.name,
                                  maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) +':<br/> '+
                                      this.y +' Follower(s)',
                                  width: 200
                              });
                          }
                      }
                  },
                  marker: {
                      lineWidth: 1
                  }
              }
          },

          series: []

      };
      data_array = #{@company_brands_data.to_json}
      for(var i=0; i<data_array[0].length; i++) {
        var data = data_array[1][i];
        var brand = data_array[0][i];
        options.series.push({name: brand, data: data});
      }
      chart = new Highcharts.Chart(options);

  });