.DB-DateOption.date_range
  .startDate
    %p=t :start_date
    = text_field_tag :start_date, @start_date.blank? ? (Time.now - 2592000).strftime("%d/%m/%Y") : @start_date, {:readonly => true,:class => "textInput"}
  .endDate
    %p=t :end_date
    = text_field_tag :end_date, @end_date.blank? ? (Time.now).strftime("%d/%m/%Y") : @end_date, {:readonly => true, :class => "textInput"}
  .blueBtn.flRight
    = link_to_remote "Generate", :html => {:class => "smlrBtn"},:loading => "$j('#stream_loading_div').show();",  :url => {:controller => "companies/dashboard", :action => :load_data}, :with => "'type=stream&filter=all&limit=10&start_date=' + $('start_date').value + '&end_date=' + $('end_date').value"
.clear
#unread_items_count
  = render :partial => "companies/dashboard/filters"
#stream_content{:style => "margin-left :-20px;"}
  = render :partial => "streams/index"

:javascript
  $j("#start_date,#end_date").datepicker({
      showOn: "button",
      buttonImage: "/images/calendar.gif",
      buttonImageOnly: true
    });