- user_services = current_user.user_services.find(:all, :conditions => "service_id = #{service.id}")
%li.serviceGroup
  .servicesHeading
    %span.smlServicesIco.servicePageIcon.flLeft{:id => "#{service.name.downcase.gsub(' ','')}Service"}
      = service.name
    .optBtn.blueBtn.flRight
      -if service.id >= 5 && service.id != 10 && service.id != 7
        - if user_services.blank?
          = link_to_remote_redbox "#{t :connect}", {:url => new_user_service_path(current_user, :service_id => service.id), :method => :get}, :class => "smlrBtn"
        - else
          = link_to_remote_redbox "#{t :add_more}", {:url => new_user_service_path(current_user, :service_id => service.id), :method => :get}, :class => "smlrBtn"
      - else
        - if !request.path.inspect.index("edit")
          - form_for @user_service , :user => @user, :url => user_services_url(:user_service_id => params[:user_service_id], :pending_service => params[:pending_service])  do |f|
            = hidden_field_tag :service_id, service.id
            = hidden_field_tag :edit
            = hidden_field_tag :user_service_id
            = hidden_field_tag :pending_service
            =  submit_tag "#{t :connect}", :class => "smlrBtn"

  %ul.serivicesChild
    - user_services.each do |user_service|
      %li
        .usersID
          %span.userSmlPic
            %img{:alt => "", :src => "/images/userPicSmall.jpg"}
          = user_service.display_name
        .servicesOption.flRight
          - if user_service.has_oauth?
            .greenBtn
              - if user_service.service_id == Service::SERVICES_ID[:facebook_page]
                = link_to_remote_redbox "#{t :configure}", {:url => configure_fb_page_user_services_path(current_user, :user_service_id => user_service.id), :method => :get}, :class => "smlrBtn"
              - else
                %a.smlrBtn{:href => "javascript:void(0)"}
                  =t :added
          - else
            .yellowBtn
              = link_to_remote_redbox "#{t :pending}", {:url => new_user_service_path(current_user, :service_id => service.id, :user_service_id => user_service.id, :pending_service => true), :method => :get}, :class => "smlrBtn"
          .redBtn
            -unless user_service.class != UserService
              %span.myservice_icon
                = link_to_remote_redbox "#{t :remove}", {:url => new_user_service_path(current_user, :service_id => service.id, :user_service_id => user_service.id, :delete_service => true), :method => :get}, :class => "smlrBtn"
            -else
              %div.services_icon_1
                = link_to_remote_redbox "#{t :remove}", {:url => new_company_service_path(:brand_id => user_service.brand_id, :service_id => service.id, :user_service_id => user_service.id, :delete_service => true), :method => :get}, :class => "smlrBtn"